<IfModule mod_rewrite.c>
RewriteEngine on
ErrorDocument 404 http://127.0.0.1/objects/error/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2
</IfModule>