@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
	/*Fuente general de toda la Pagina*/
	font-family: 'Roboto', sans-serif;
}

.fondo{
	background-image: url(../img/fondo/fondo1.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.nav_color{
	background-color:  #222831;/*#222831*/
	font-family: 'Raleway', sans-serif;
	color: aliceblue;
	font-size: 24px;
}

.opacity_fond{
	background-color: wheat;
	opacity:0.5;
}

.icon{
	margin-left: 50px;
}

.nav_color ul li{
	text-align: center;
	width: 200px;
	color: aliceblue;
}

.fondo2{
	background-image: url(../img/fondo/formu.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.formu{
	/* border-radius: 70px; */
	padding:5px;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	justify-items: center;
	color:white;
}

.formu2{
	text-align: center;
	border-radius: 10px;
	padding:50px;
	background-color: rgba(0, 0, 0, 0.589);
	width: auto;
	color:white;
}


.opaco{
	background-image: url(../img/fondo/fondo1.png);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.8;
}



.nav_color a{
	display: inline-flex;
	text-decoration: none;
	color: white;
}

.nav_color ul :hover{
	font-weight: bolder;
	text-align: center;
	color: #dc3545;
	transition: all 0.5s ease;
}

/* Searchbar estilos */
.input-search{
	border: none;
	background-color: rgba(8, 8, 10, 0.459);
}
.input-search:focus{
	background-color: rgba(8, 8, 10, 0.699);
}
.input-search::placeholder{
	color: white;
}

.label-select{
	border: none;
}
/* Fin Searchbar estilos */

/* Peliculas Cards estilos */

.container_foto {
	background-color: rgba(8, 8, 10, 0.788);
	padding: 0px;
	overflow: hidden;
    max-width: 279px;
    height: 400px;
    margin: 3px;
    border-radius: 9px;
}
.container_foto article {
	padding: 10%;
	position: absolute;
	bottom: 0;
	z-index: 1;
	transition: all 0.5s ease;
}
.container_foto h2 {
	color: #fff;
	font-weight: 800;
	font-size: 25px;
	border-bottom: #fff solid 1px;
}
.container_foto h4 {
	font-weight: 300;
	color: #fff;
	font-size: 16px;
}
.container_foto img {
    height: 100%;
	width: 100%;
	top: 0;
    left: 0;
	opacity: 0.4;
	transition: all 4s ease;
}
.like__btn {
	border: none;
	background-color: #dc3545;
	color: white;
	cursor: pointer;
	padding: 0.3rem;
	border-radius: 0.4rem;
	max-width: 200px;
	transition: all ease 0.3s;
	display: flex;
	align-items: center;
}
.like__btn:focus {
	outline: none; 
}
.disabled {
	background-color: #d4cfcf;
	color: grey;
	cursor: pointer;
}
.like__icon {
	font-size: 1rem;
	margin-right: 0.3rem;
}
.like__text{
	font-size: 0.8rem;
}
.ver_mas {
	background-color: #18191f;
	position: absolute;
	width: 100%;
	height: 70px;
	bottom: 0;
	z-index: 1;
	opacity: 0;
	transform: translate(0px, 70px);
	transition: all 0.2s ease-in-out;
}
.ver_mas button{
	background-color:  rgba(8, 8, 10, 0.788);
	border-color: rgba(8, 8, 10, 0.788);
	padding: 22px 40px 22px;
	font-size: 20px;
	color: #fff;
	position: relative;
	margin: 0 auto;
	width: 100%;
	outline: none;
}
/* Hovers */
.ver_mas button:hover {
	color: #dc3545;
	transition: all 0.5s ease;
}
.container_foto:hover {
	cursor: pointer;
}

.container_foto:hover img {
	opacity: 0.1;
	transform: scale(1.5);
}

.container_foto:hover article {
	transform: translate(2px, -69px);
}

.container_foto:hover .ver_mas {
	transform: translate(0px, 0px);
	opacity: 1;
}
/* Fin Peliculas Cards estilos */

#mlot {  
    margin-bottom: 10px;
}
.btn-create{
    border-radius: 6px;
    background-color: palevioletred;
    box-shadow: -1px 4px 30px -7px rgba(0,0,0,0.75);
}
.btn-update{
    border-radius: 6px;
    background-color: rgb(94, 211, 129);
    box-shadow: -1px 4px 30px -7px rgba(0,0,0,0.75);
}
.form-container {
    border:1px solid #000; 
    padding: 8px 15px ; 
	margin-top: 1vh;
	width: 400px;
    -webkit-box-shadow: -1px 4px 45px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 45px -7px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 30px -7px rgba(0,0,0,0.75);
    border-radius: 10px;
}

/* Carrito estilos */
.fabCollapse {
	display: block;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 999;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #dc3545;
	color: black;
	cursor: pointer;
	padding: 13px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
	  0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.fabContent {
	display: none;
}
.fabContentICO {
	display: none;
}
.fa-times-circle{
	color: #dc3545;
	font-size: 25px;
	padding: 7px;
}
.fabOpen {
	background-color: rgba(8, 8, 10, 0.788);
	width: 400px;
	height: 300px;
	border-radius: 8px;
	box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
	  0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
	overflow-y: scroll;
	overflow-x: hidden;
}
.fabOpen svg {
	display: none;
}
.img-responsive {
	width: 100%;
	max-width: 100%;
	height: auto;
	border-radius: 7px;
}
.operacion{
	border-radius: 8px;
	margin-top: 4px;
	margin-bottom: 4px;
}
/* MediaQueries */
@media (min-width: 992px) {
	.animate {
	  animation-duration: 0.2s;
	  animation-fill-mode: both;
	}
}
@media screen and (max-width: 992px) {
	.modal {
	  width: 70%;
	}
	.fabOpen {
	  height: 60%;
	}
}
@media screen and (max-width: 600px) {
	.modal {
	  width: 90%;
	}
	.fabOpen {
	  right: 0;
	  height: 100%;
	  width: 100%;
	  bottom: 0;
	}
}
/* Fin Carrito estilos */

/* Footer */
.foot{
	background-color: rgba(0, 0, 0);
	height:90px; 
	padding:20px;
	color: aliceblue;
}
/* Fin Footer */