.container{
	min-height: 500px;
}
.container_foto {
	background-color: rgba(8, 8, 10, 0.788);
	padding: 0px;
	overflow: hidden;
    max-width: 279px;
    height: 400px;
    margin: 3px;
    border-radius: 9px;
}

.container_foto article {
	padding: 10%;
	position: absolute;
	bottom: 0;
	z-index: 1;
	transition: all 0.5s ease;
}

.container_foto h2 {
	color: #fff;
	font-weight: 800;
	font-size: 25px;
	border-bottom: #fff solid 1px;
}

.container_foto h4 {
	font-weight: 300;
	color: #fff;
	font-size: 16px;
}

.container_foto img {
    height: 100%;
	width: 100%;
	top: 0;
    left: 0;
	opacity: 0.4;
	transition: all 4s ease;
}

.ver_mas {
	background-color: #18191f;
	position: absolute;
	width: 100%;
	height: 70px;
	bottom: 0;
	z-index: 1;
	opacity: 0;
	transform: translate(0px, 70px);
	transition: all 0.2s ease-in-out;
}

.ver_mas span {
	padding: 22px 40px 22px;
	font-size: 19px;
	color: #fff;
	position: relative;
	margin: 0 auto;
	width: 100%;
	top: 20px;
}

/*hovers*/
.ver_mas span:hover {
	background-color: tomato;
	transition: all 0.5s ease;
}
.container_foto:hover {
	cursor: pointer;
}

.container_foto:hover img {
	opacity: 0.1;
	transform: scale(1.5);
}

.container_foto:hover article {
	transform: translate(2px, -69px);
}

.container_foto:hover .ver_mas {
	transform: translate(0px, 0px);
	opacity: 1;
}